* {
  box-sizing: border-box;
}

.left-side {
  background-color: skyblue;
  width: 100%;
  height: 100vh;
}
.left-side .pizzaContainer {
  background-color: rgb(255, 255, 255);
  width: 600px;
  height: 600px;
  border-radius: 100%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.left-side .pizzaContainer #pizza-back {
  background-color: white;
  width: 470px;
  height: 470px;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.left-side .pizzaContainer #pizza-back #pizza {
  position: relative;
  left: 50%;
  top: 50%;
  width: 70%;
  height: 70%;
  transform: translate(-50%, -50%);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.left-side .pizzaContainer .transp {
  background: transparent;
  width: 605px;
  height: 605px;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border: 5px solid rgb(30, 77, 194);
}
.left-side .pizza-status {
  position: absolute;
  width: 0;
  height: 0;
  border-radius: 50%;
}
.left-side .text {
  font-size: 30px;
  color: white;
  position: absolute;
  font-weight: bold;
  opacity: 0.3;
}
.left-side .order {
  border-left: 225px solid transparent;
  border-right: 225px solid transparent;
  border-top: 300px solid rgb(30, 77, 194);
  left: 152px;
  top: 20px;
  rotate: 30.5deg;
}
.left-side .order .text {
  top: -290px;
  left: -30px;
  transform: rotate(5deg);
}
.left-side .prep {
  transform: scale(1.1);
  z-index: 5;
  border-bottom: 225px solid transparent;
  border-top: 225px solid transparent;
  border-right: 300px solid rgb(209, 67, 20);
  border-radius: 50%;
  right: 4px;
  bottom: 40px;
  rotate: 13.8deg;
}
.left-side .prep .text {
  bottom: -20px;
  right: -305px;
  transform: rotate(91deg);
  opacity: 1;
}
.left-side .baking {
  border-left: 225px solid transparent;
  border-right: 225px solid transparent;
  border-bottom: 300px solid rgb(30, 77, 194);
  border-radius: 50%;
  left: 82px;
  bottom: 0px;
  rotate: -3deg;
}
.left-side .baking .text {
  bottom: -285px;
  left: -50px;
  transform: rotate(1deg);
}
.left-side .delivery {
  border-bottom: 225px solid transparent;
  border-top: 225px solid transparent;
  border-left: 300px solid rgb(30, 77, 194);
  border-radius: 50%;
  left: 50px;
  top: -37px;
  rotate: 48.2deg;
}
.left-side .delivery .text {
  top: -20px;
  left: -330px;
  transform: rotate(-90deg);
}
.left-side .check {
  border-bottom: 225px solid transparent;
  border-top: 225px solid transparent;
  border-left: 300px solid rgb(30, 77, 194);
  border-radius: 50%;
  left: 8px;
  bottom: 24px;
  rotate: -20deg;
}
.left-side .check .text {
  top: 0px;
  left: -315px;
  transform: rotate(85deg);
}

.right-side {
  background-color: aliceblue;
  padding: 20px 10px;
  position: relative;
}
.right-side .title-A {
  font-size: large;
  font-weight: bold;
  margin-top: 20px;
}
.right-side .title-A i {
  margin: 0 10px 0 5px;
  font-size: 14px;
  opacity: 0.7;
}
.right-side .title-A .sub-title {
  font-size: 15px;
}
.right-side .main-menu {
  position: relative;
  min-height: 200px;
  max-width: 400px;
  margin: 20px 0;
  overflow: hidden;
}
.right-side .main-menu .products {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 10px 0;
}
.right-side .main-menu .products img {
  width: 40px;
  margin: 0 0 20px 20px;
}
.right-side .main-menu .products.seen {
  left: 0;
  animation: menu-come 700ms ease-out;
}
.right-side .main-menu .products.hidden {
  left: 100%;
  animation: menu-go 700ms ease-in;
  opacity: 0;
  left: -100%;
}
@keyframes menu-come {
  0% {
    left: 0%;
    opacity: 1;
  }
  100% {
    left: 200%;
    opacity: 0;
  }
}
@keyframes menu-go {
  0% {
    left: -200%;
    opacity: 0;
  }
  100% {
    left: 0%;
    opacity: 1;
  }
}
.right-side .sizes {
  position: absolute;
  top: 25%;
}
.right-side .sizes label {
  padding: 0 30px 0 5px;
  cursor: pointer;
}
.right-side .crust-menu {
  position: absolute;
  top: 40%;
  left: 0;
}
.right-side .crust-menu label {
  padding-left: 10px;
}
.right-side .crust-menu img {
  width: 70%;
}/*# sourceMappingURL=style.css.map */