* {
  box-sizing: border-box;
  user-select: none;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.width-box{
  background-color: skyblue;
  overflow: hidden;
  position: relative;
}

.left-side {
  // background-color: skyblue;
  position: relative;
  height: 100vh;

  .product-list {
    position: relative;
    top: 100px;
    z-index: 5;

    .product-title {
      min-width: 120px;
      margin-bottom: 5px;
      box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
      height: 25px;
      display: none;

      .pr-name {
        background-color: rgb(216, 239, 248);
        width: 115px;
        height: 25px;
        padding: 0 10px;
      }

      .pr-icon {
        background-color: rgb(30, 77, 194);
        color: rgb(216, 239, 248);
        width: 20px;
        padding: 5px;
        text-align: center;
        transition: 400ms;
        cursor: pointer;

        &:hover {
          background-color: rgb(209, 67, 20);
        }

      }
    }
  }





  .next-product-box {
    margin-top: 40px;
  }

  @keyframes product-animation-add {
    from {
      left: -200%;
    }

    to {
      left: 0;
    }
  }


  .remove-anim {
    animation: product-animation-remove 700ms ease-out;
    right: 500%;
    position: relative;
  }

  @keyframes product-animation-remove {
    from {
      left: 0;
      opacity: 1;
      display: block;
    }

    to {
      left: -200%;
      opacity: 0;
      display: none;
    }
  }
}


.bottom-side {
  // background-color: skyblue;
  // width: 100%;
  // height: 100vh;
  position: relative;


  .timer-box {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-left: 10px solid rgb(30, 77, 194);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(213, 129, 101);
    transition: 500ms ease-in-out;
    position: absolute;
    width: 100px;
    left: 99%;
    top: 50px;

    img {
      width: 90%;

    }

    &:hover {
      left: 89%;
      border-left: 10px solid transparent;

    }
  }

  .selected-items {
    position: absolute;
    width: 200px;
    left: 73%;
    bottom: 0;

    .added-product-img {
      opacity: 0;
      width: 90%;
    }

    .added-pr-anime {
      animation: itemsAnime 2000ms ease-in;
    }

    .added-ic-anime {
      animation: itemsAnime 1800ms ease-out;
      animation-delay: 500ms;

    }



    .added-product-icon {
      opacity: 0;
      color: green;
      font-size: 60px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

    }
  }

  @keyframes itemsAnime {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  .pizzaContainer {
    background-color: rgb(255, 255, 255);
    width: 600px;
    height: 600px;
    border-radius: 100%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    #pizza-back {
      background-color: white;
      width: 470px;
      height: 470px;
      border-radius: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 100;

      #pizza {
        position: relative;
        left: 50%;
        top: 50%;
        width: 70%;
        height: 70%;
        transition: 1s;
        transform: translate(-50%, -50%);
        user-select: none;
      }

      .pizza-products{
        transition: 1s;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 320px;
      }
    }

    .transp {
      background: transparent;
      width: 605px;
      height: 605px;
      border-radius: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      border: 5px solid rgb(30, 77, 194);
    }

  }

  .pizza-status {

    position: absolute;
    width: 0;
    height: 0;
    border-radius: 50%;

  }



  .text {
    font-size: 30px;
    color: white;
    position: absolute;
    font-weight: bold;
    opacity: 0.3;

  }

  .order {
    border-left: 225px solid transparent;
    border-right: 225px solid transparent;
    border-top: 300px solid rgb(30, 77, 194);
    left: 152px;
    top: 20px;
    rotate: 30.5deg;

    .text {
      top: -290px;
      left: -30px;
      transform: rotate(5deg);
    }

  }

  .prep {
    transform: scale(1.1);
    z-index: 5;
    border-bottom: 225px solid transparent;
    border-top: 225px solid transparent;
    border-right: 300px solid rgb(209, 67, 20);
    border-radius: 50%;
    right: 4px;
    bottom: 40px;
    rotate: 13.8deg;

    .text {
      bottom: -20px;
      right: -305px;
      transform: rotate(91deg);
      opacity: 1;
    }

  }

  .baking {
    border-left: 225px solid transparent;
    border-right: 225px solid transparent;
    border-bottom: 300px solid rgb(30, 77, 194);
    border-radius: 50%;
    left: 82px;
    bottom: 0px;
    rotate: -3deg;

    .text {
      bottom: -285px;
      left: -50px;
      transform: rotate(1deg);
    }

  }

  .delivery {
    border-bottom: 225px solid transparent;
    border-top: 225px solid transparent;
    border-left: 300px solid rgb(30, 77, 194);
    border-radius: 50%;
    left: 50px;
    top: -37px;
    rotate: 48.2deg;


    .text {
      top: -20px;
      left: -330px;
      transform: rotate(-90deg);
    }


  }

  .check {
    border-bottom: 225px solid transparent;
    border-top: 225px solid transparent;
    border-left: 300px solid rgb(30, 77, 194);
    border-radius: 50%;
    left: 8px;
    bottom: 24px;
    rotate: -20deg;

    .text {
      top: 00px;
      left: -315px;
      transform: rotate(85deg);
    }
  }
}




#right-menu{
  position: relative;

  .right-side {
    background-color: aliceblue;
    position: relative;
    padding: 20px;
    left: 0;
    transition: 0.4s ease-in-out;
    
  
  
    &-close{
      left: 100%;
    }
  
    &::-webkit-scrollbar{
      width: 10px;
      height: 10px;
    }
  
    &::-webkit-scrollbar-track{
      background-color: rgb(255, 255, 255);
    }
    &::-webkit-scrollbar-thumb{
      background-color: lightblue;
    }
    &::-webkit-scrollbar-corner{
      background-color: rgb(255, 255, 255);
    }
  
  
    #toggle-button{
      padding:35px 2px;
      background-color: aliceblue;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      position: absolute;
      top: 50%;
      left: -5%;
      transform: translateY(-50%);
      transition: 0.3s ease-in-out;
      cursor: pointer;
      // border: 1px solid red;
    
      #menu-icon{
        font-size: 17px;
        color: rgba(0, 0, 0, 0);
        transition: 0.3s ease-in-out;
        
      }
    
      &:hover{
        padding: 35px 6px;
        left: -7%;
    
    
        #menu-icon{
          color: black;
        }
      }
    
    }
  
  
    .title-tag {
      font-size: large;
      font-weight: bold;
      padding: 0 0 15px 0;
    }
  
  
    .menu-slide {
      position: relative;
      max-height: 220px;
      overflow: hidden;
      box-sizing: border-box;
      margin-bottom: 40px;
  
      .product-box {
        width: 250px;
        height: 250px;
        padding: 10px 0;
  
  
        .product-icons {
          margin: 0 0 0px 20px;
          cursor: pointer;
        }

        .souces{
          width: 60px;
        }

        .spices{
          width: 50px;
        }

        .vegetables{
          width: 40px;
        }
        
        .meats{
          width: 40px;
        }
  
      }
  
      .btn {
        transition: 400ms ease-in-out;
        position: absolute;
        top: 160px;
        width: 100px;
        height: 30px;
        margin-top: 30px;
  
        &:focus {
          outline: none;
          box-shadow: none;
  
          .btn {
            transition: 400ms ease-in-out;
            position: absolute;
            top: 160px;
            width: 100px;
            height: 30px;
            margin-top: 30px;
  
            &:focus {
              outline: none;
              box-shadow: none;
            }
          }
  
          .btn-next {
            right: 0;
          }
  
          .btn-prev {
            left: 0;
          }
  
          .btn-none {
            display: none;
          }
  
          #changer-buttons {
            width: 100%;
            color: rgb(30, 77, 194);
  
            i {
              font-size: 12px;
            }
          }
        }
  
        .btn-next {
          right: 0;
        }
  
        .btn-prev {
          left: 0;
        }
  
        .btn-none {
          opacity: 0.1;
          user-select: none;
  
        }
  
        .changer-buttons {
          width: 100%;
          color: rgb(30, 77, 194);
  
          i {
            font-size: 12px;
          }
        }
      }
  
    }
  
    // -----------------------------------------
    // -----------------------------------------
  
    .sizes {
      label {
        padding: 0 20px 0 5px;
        cursor: pointer;
      }
    }
  
    .crust-menu {
      label {
        padding-left: 5px;
      }
  
      img {
        width: 70%;
      }
    }
  
  }
}